# Dependencies
node_modules/
.pnp
.pnp.js

# Testing & Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment Variables & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Production Build Outputs
dist
dist-ssr
build/

# Framework & Cache
.vite/
.eslintcache

# Editor & System Files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?